---
import ReactCounter from '../components/Counter';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Astro - Counter">
  <div>
    <p>Counter</p>
    <ReactCounter client:visible defaultValue={1} />
  </div>
</DefaultLayout>
