---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Astro - Home">
	<div>
		<p>Hello world</p>
		<p>
			<a href="/counter">Go to counter example</a>
		</p>
		<p>
			<a href="/large">Go to large example</a>
		</p>
	</div>
</DefaultLayout>
